.footer {
    width: 100vw;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-secondary);
    color: white;

}

.footer-text {
    width: 100vw;
}

.footer-title img {
    width: 100vw;
}

.footer-sub {
    font-size: larger;
    font-weight: bolder;
    color: rgb(255, 255, 0);
    padding-left: 35px;
}

.footer-des {
    text-align: center;
    width: 90%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 1px solid black; */
    flex: 1;
}

.links a {
    text-decoration: none;
    color: rgb(162, 162, 162);
    font-weight: 900;
}


@media (min-width: 768px) {


    .footer {
        width: 100vw;
        height: 50vh;
        flex-direction: row;
    }

    .footer-text {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 75vw;
    }

    .footer-title img {
        width: 40vw;
    }

    .footer-des {
        text-align: left;
        padding-left: 35px;
    }

    .links {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        /* border: 1px solid black; */
        flex: 1;

    }

    .links a {
        text-decoration: none;
        color: rgb(162, 162, 162);
        font-weight: 900;
        padding: 10px;
    }
}