.landingpage-pc {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* background-color: rgb(5, 10, 43); */
    background-color: var(--color-primary);
    color: white;
}

.landingpage-pc strong {
    color: rgb(255, 255, 255);
}

.header-img-pc {
    /* width: 50vw !important; */
    max-width: 40vw !important;
}

.landingpage-pc .header-pc {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.nav-pc {
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 30px;
    /* background-color: rgb(208, 0, 255); */
    background: #6af780;
    background: linear-gradient(195deg, rgba(106, 247, 128, 1) 0%, rgba(87, 162, 255, 1) 49%, rgba(196, 79, 255, 1) 89%);
    height: 40px;

}

.nav-pc a {

    /* font-size: clamp(3vw, 3.75vw, 3rem); */
    font-size: clamp(0.7rem, 1vw + 0.7rem, 1.5rem);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}



.pc-layout {
    width: 95vw;
    flex: 1;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landingpage-content-pc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55% !important;
    /* flex: 1; */
    /* overflow-x: visible; */

}

/* .landingpage-content-pc p:nth-child(odd) {
    margin-bottom: 5px !important;
}*/

.landingpage-content-pc p:nth-child(even) {
    margin-top: 0px !important;
}

.landingpage-pc .tagline-pc {
    /* border: 1px solid white; */
    font-weight: bolder;
    /* font-size: clamp(4vw, 4.5vw, 5vw); */
    font-size: clamp(0.8rem, 1vw + 1rem, 1.5rem);
    /* font-size: 20px; */
    color: rgb(255, 255, 255);
    /* min-height: 30px; */
}

.landingpage-pc .subheading-pc,
.extra-note-pc {
    /* font-size: clamp(3.5vw, 3.75vw, 4vw); */
    font-size: clamp(0.7rem, 1vw + 0.7rem, 1.5rem);
    /* font-size: 15px; */
    text-align: center;
    /* overflow-x: visible; */
}

.duologo-pc {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 40vw;
    flex: 0.75;
    /* margin-bottom: 80px; */
    overflow: hidden;
    padding: 10px !important;
}

.duo-pc {
    width: 125px;
}

.arrow-pc {
    width: 50px;
}

.superduo-pc {
    width: 125px;
}



.landingpage-pc .get-btn-pc {
    /* margin-top: 50px; */
    width: 50vw;
    will-change: transform;

}

.trust-text-pc p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 100vw;
    margin: 0px;
    padding: 10px;
    height: 40px;
    /* background: #6af780;
    background: linear-gradient(195deg, rgba(106, 247, 128, 1) 0%, rgba(87, 162, 255, 1) 49%, rgba(196, 79, 255, 1) 89%); */
    /* background-color: black !important; */
    font-size: clamp(0.7rem, 1vw + 0.7rem, 1.5rem);
}